/* les cellules du sommaire */
.ecran.sommaire{color:#fff;}
.ecran.sommaire .cel h2{font-size: 1.3em}
.sommaire .cel-centre{background-image: url(img/bois-3.jpg); background-size: cover}
.sommaire .cel-1{background-color: #458913}
.sommaire .cel-2{background-color: #64A00F}
.sommaire .cel-3{background-color: #A7D53A}
.sommaire .cel-4{background-color: #30602B}
.sommaire .cel-5{background-color: #87BB43}
.sommaire .cel-6{}


/* les satellites */

/* tous les satellites */
.satellite .titre-sat{}
.satellite .intro{}
.satellite .sommaire{}
.satellite .itemsat{
	list-style-type: none;
	width:80%;
	margin:20px auto;
	padding:10px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 0px #aaa;
	text-align: center;
	background-image: url(img/bois-3.jpg); background-size: cover;color:#fff;
}

/* le satellite 1 */
.satellite.sat-1 .col-gauche{background-color: #458913;color: #fff}
.satellite.sat-1 .titre-sat{}
.satellite.sat-1 .intro{}
.satellite.sat-1 .sommaire{}
.satellite.sat-1 .itemsat{}

.satellite.sat-2 .col-gauche{background-color: #64A00F;color: #fff}

.satellite.sat-3 .col-gauche{background-color: #A7D53A;color: #fff}

.satellite.sat-4 .col-gauche{background-color: #30602B;color: #fff}

.satellite.sat-5 .col-gauche{background-color: #87BB43;color: #fff}

/* les modales (sous-satellites) */

/* toutes les modales */
.modale .wrapper-modale{background-image: url(img/ciel.jpg);background-size: cover;color:#fff;}
.modale .titre{color:#fff;};
.modale .intro{color:#fff;};
.modale .sommaire{color:#fff;};
.modale .itemmodale{color:#fff;};

/* toutes les modales du satellite 1 */
.modale.sat-1{}
.modale.sat-1 .titre{};
.modale.sat-1 .intro{};
.modale.sat-1 .sommaire{};
.modale.sat-1 .itemmodale{};

/* la modale correspondant à l'item 1 du satellite 1*/
.modale.sat-1.itemsat-1{}
.modale.sat-1.itemsat-1 .titre{};
.modale.sat-1.itemsat-1 .intro{};
.modale.sat-1.itemsat-1 .sommaire{};
.modale.sat-1.itemsat-1 .itemmodale{};

